{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<div class="form-wrapper">
  <h1 class="form-wrapper__lead">Request password reset</h1>

  <form class="form dark" action="/password/request-reset" method="post">
    <div class="form__group">
      <label for="inputEmail" class="form-label">Email Address</label>
      <input name="email" type="email" class="form__input" id="inputEmail" placeholder="Your email address" />
    </div>
    <button type="submit" class="btn btn__submit">Send request</button>
  </form>
</div>

{% endblock %}