Use php-fpm php82

# Remove the question mark from the request but maintain the query string

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude specific files from the rewriting rule

RewriteCond %{REQUEST_URI} !^/sw\.js$
RewriteCond %{REQUEST_URI} !^/manifest\.json$

RewriteRule ^(.*)$ index.php?$1 [L,QSA]

# Statische Assets
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|jpg|jpeg|svg|webp|woff2|woff)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>

#@__HCP_END__@#
# Anything after the comment above is left alone
