.alert{
    transition: all 0.5s ease;
    font-size: 1.4rem;
    position: fixed;
    top: 80px;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    z-index: 9999;
    display:flex;
    gap: 1rem;
    align-items: center;
      &:empty {
        display: none;
      }
}
.alert-success {
    background-color: aquamarine;
}
.alert-warning {
    background-color: orange;
}
.error {
    color: orangered;
}