{% extends "base.html" %} {% block title %}Log in{% endblock %} {% block body %}


<div class="form-container">
  <div class="form-wrapper">
    <div class="form-background">




      <form class="form light" name="userlogin" method="post" action="/login/create" autocomplete="on" id="formLogin"
        data-form>
        <h1 class="form-wrapper__lead">Log in</h1>
        <div class="form__group">
          <label for="inputEmail" class="form-label">Email Adresse</label>
          <input name="user_email" type="email" class="form__input" id="inputEmail" placeholder="Deine Email Adresse"
            value="{{ old.user_email | default('') }}" autocomplete="email" required />
          <small data-errormsg=""></small>
        </div>
        {{ csrf_field() }}
        <div class="form__group">
          <label for="inputPassword" class="form-label">Passwort</label>
          <input type="password" name="user_password" class="form__input" minlength="8"
            pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[£@#$%^&+=]).*" id="inputPassword" placeholder="*********"
            autocomplete="off" required data-passwordLogin />
          <small data-errormsg=""></small>
          <span id="togglePassword" data-toggleLogin><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) -->
              <path
                d="M288 144a110.94 110.94 0 0 0-31.24 5 55.4 55.4 0 0 1 7.24 27 56 56 0 0 1-56 56 55.4 55.4 0 0 1-27-7.24A111.71 111.71 0 1 0 288 144zm284.52 97.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400c-98.65 0-189.09-55-237.93-144C98.91 167 189.34 112 288 112s189.09 55 237.93 144C477.1 345 386.66 400 288 400z" />
            </svg></span>
        </div>
        <div class="form__group--check">
          <label for="sendInfo">Send Info
            <input type="checkbox" name="send_info" value="1" tabindex="-1" autocomplete="off" id="sendInfo"></label>
        </div>
        <div class="checkbox">
          <label class="check-container">
            <input type="checkbox" class="form-check-input" name="remember_me" {% if remember_me %} checked="checked" {%
              endif %} />
            <span class="check-mark"></span>Eingeloggt bleiben</label>
        </div>

        <div class="btn__group">
          <button id="submitLogin" type="submit" class="btn btn__submit">Login</button>
        </div>


      </form>
      <div class="form__info">
        <div class="btn__group">
          <a href="/password/forgot" class="form__link">Passwort vergessen?</a>
        </div>
        <div class="btn__group">
          <a href="/signup" class="form__link">Registrieren?</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}