{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}
<main class="main">
    <div class="main__wrapper">
        <h2 class="sub__lead bold">Datenschutzerklärung</h2>

        <h5>Geltungsbereich</h5>
        <p>Die Hemmi-Immobilien Datenschutzrichtlinie gilt für alle von
            Hemmi-Immobilien
            betriebenen
            Websites (im Folgenden Hemmi-Immobilien Websites genannt).
            Hemmi-Immobilien kann nicht
            garantieren, dass externe Websites, die über Links von
            Hemmi-Immobilien-Websites
            zugänglich sind, die Datenschutzbestimmungen von Hemmi-Immobilien
            einhalten.
        </p>
        <h5>Nutzung von Informationen</h5>
        <p>Sie können unsere Websites frei besuchen, ohne dass Sie persönliche
            Daten
            angeben müssen.
        </p>

        <p>Wenn Sie Dienstleistungen oder Produkte bei uns bestellen müssen Sie
            bestimmte persönliche Daten angeben, damit wir Ihre Anfrage
            bearbeiten
            können.</p>

        <p>Hier finden Sie unsere vollständige Datenschutzrichtlinie. Aus
            rechtlichen Gründen ist diese Datenschutzerklärung nur in deutscher
            Sprache verfügbar.</p>

        <h5>Einführung</h5>
        <p>Gestützt auf Artikel 13 der schweizerischen Bundesverfassung, die
            datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz,
            DSG)
            und der EU-DSGVO hat jede Person Anspruch auf Schutz ihrer
            Privatsphäre
            sowie auf Schutz vor Missbrauch ihrer persönlichen Daten.</p>

        <p>Hemmi-Immobilien als Betreiber dieser Websites nimmt den Schutz Ihrer
            persönlichen
            Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
            vertraulich
            und entsprechend der gesetzlichen Datenschutzvorschriften sowie
            dieser
            Datenschutzerklärung.</p>
        <p>Auf unserer Webseite erfassen wir keine Ihrer persönlichen Daten.
            Auch
            Ihr Nutzerverhalten wird von uns nicht aufgezeichnet und
            dokumentiert.
        </p>

        <h5>Wie erfassen wir Ihre Daten?</h5>
        <p>Ihre Daten werden dadurch erhoben in dem Sie uns diese mitteilen.</p>

        <h5>Wer ist verantwortlich für die Datenerfassung auf dieser Website?
        </h5>
        <p>Die Datenverarbeitung auf dieser Website erfolgt durch den
            Websitebetreiber (Hemmi-Immobilien ).</p>

        <h5>Analyse-Tools und Tools von Drittanbietern</h5>
        <p>Werden nicht verwendet.</p>

        <h5>Benennung der verantwortlichen Stelle</h5>
        <p>Feritel AG</p>
        <p>Hauptstrasse 135</p>
        <p>7075 Churwalden</p>

        <h5>Datenerfassung auf unserer Website</h5>
        <p>Unsere Internetseiten verwenden so genannte Cookies. Cookies richten
            auf
            Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies
            dienen dazu, unser Angebot nutzerfreundlicher, effektiver und
            sicherer
            zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner
            abgelegt werden und die Ihr Browser speichert.</p>
        <p>Im Webbrowser können Sie das Setzen von Cookies überwachen,
            einschränken
            oder unterbinden. Viele Webbrowser lassen sich so konfigurieren,
            dass
            Cookies mit dem Schliessen des Programms von selbst gelöscht werden.
            Die
            Deaktivierung von Cookies kann eine eingeschränkte Funktionalität
            unserer Website zur Folge haben.</p>
        <h5>Server-Log-Dateien</h5>

        <p>Server-Log-Dateien sind Informationen die Ihr Browser automatisch an
            uns
            übermittelt. Sie helfen zum Beispiel die Darstellung der Webseite
            für
            spezifische Geräte wie Mobilephones zu optimieren.</p>

        <h5>Google Analytics Remarketing</h5>
        <p>Sie können dem geräteübergreifenden Remarketing/Targeting dauerhaft
            widersprechen, indem Sie personalisierte Werbung in Ihrem
            Google-Konto
            deaktivieren.</p> <span>
            Folgen Sie hierzu diesem Link:<a class="inline"
                href=" https://www.google.com/settings/ads/onweb/">
                https://www.google.com/settings/ads/onweb/</a>
        </span>.

        <h5>Plugins und Tools</h5>
        <p>Unsere Website funktioniert mit sogenannten Serviceworkern. Diese
            Speichern gewisse Ressouren unserer Website im Cache ihres Browsers
            damit Inhalte schneller geladen werden können.</p>
        <p>Diese können Sie jedoch löschen in dem Sie Ihren Browsercache leeren
        </p>

        <p>Feritel AG - Stand: 30. August 2023</p>
    </div>
</main>
{% endblock %}